<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="posts">posts</a></li>
      <li routerLinkActive="active"><a routerLink="new">Nouveau  Posts</a></li>
    </ul>
  </div>
</nav>
