<li [ngClass] ="{'list-group-item': true,
                'list-group-item-success': getNumberOfLove(id) > 0,
                 'list-group-item': getNumberOfLove(id) == 0,
                'list-group-item-danger': getNumberOfLove(id) < 0}"
                 style="margin: auto;list-style-type: none;">
<span class="pull-right">{{created_at | date: 'M/d/yyyy, h:mm a'}}</span>
<h2 [ngStyle]="{color: getColorPost(id)}">{{title}}</h2>
<div class="list-group">
    {{content}}
</div>
    <button class="btn btn-success" style="margin-right: 10px;" (click)="loveIt(id)"> Love it !</button>
    <button class="btn btn-danger"  style="margin-right: 10px;" (click)="dontLoveIt(id)"> Don't love it ! </button>
    <button class="pull-right btn btn-danger" (click)="deleteOnePost(index)"> Supprimer </button>
</li>

