<div class="container">
<div class="row">
    <div class="col-xs-12">
      <h1>Posts</h1>
      <ul class="list-group">
        <app-post-list-item  *ngFor="let currentpost of posts;let i = index"
                        [title]=currentpost.title
                        [content]=currentpost.content
                        [created_at]=currentpost.created_at
                        [index]="i"
                        [id]="currentpost.id">
        </app-post-list-item>
      </ul>
    </div>
</div>
</div>
